<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>949902383222-3ef1qmdr300um0c5kgq9vc23hn589evq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949902383222-3ef1qmdr300um0c5kgq9vc23hn589evq</string>
	<key>API_KEY</key>
	<string>AIzaSyCpTQM8s7T8VszSt_Rm2Qe1SjCWoVNsuYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>949902383222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LetsChat</string>
	<key>PROJECT_ID</key>
	<string>lets-chat-dd894</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-chat-dd894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949902383222:ios:b6f700693aadd9f8</string>
	<key>DATABASE_URL</key>
	<string>https://lets-chat-dd894.firebaseio.com</string>
</dict>
</plist>